@charset "utf-8"

$bootstrap: #6f5499
$github: #333333
$twitter: #55acee
$patreon: #f96854
$patreon-blue: #052d49
$fortyfour: #5f45bb
$amazon: #ffd863
$bleeding-green: #ABF47C
$bleeding-red: #CA1F26
$star: #FFD257
$rss: #f26522

$mauve: #8A4D76
$pink: #FA7C91
$brown: #757763
$beige-light: #D0D1CD
$beige-lighter: #EFF0EB

$carbon-width: 300px
$carbon-height: 100px
$main-spacing: 3rem
$intro-width: 1080px
$sidebar-width: 10.5rem

/*@import ../../../node_modules/bulma/bulma.sass
@import ~bulma/bulma

%center
  align-items: center
  display: flex
  justify-content: center

%bd-box
  background-color: $white
  border-radius: $radius-large
  box-shadow: 0 1.5rem 1.5rem -1.25rem rgba($black, 0.05)
  display: block

=selection($current-selector: false)
  @if $current-selector
    &::-moz-selection
      @content

    &::selection
      @content
  @else
    \::-moz-selection
      @content

    \::selection
      @content

@import ./_sass/main
@import ./_sass/highlight
@import ./_sass/override
@import ./_sass/global
@import ./_sass/index
@import ./_sass/header
@import ./_sass/footer
@import ./_sass/focus
